In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import shapely
from shapely import geometry
from shapely.geometry import Point, Polygon
%matplotlib inline

In [62]:
# Load the raw data into Python
#DFdemographics = pd.read_csv('demographics.csv', delimiter=',')
DFgeographic = pd.read_csv('geographic.csv', delimiter=',')
#DFgreen_trips_new_2 = pd.read_csv('green_trips_new_2.csv', delimiter=',')
#DF_mta_trips = pd.read_csv('mta_trips.csv', delimiter=',')
DFuber_trips_2014 = pd.read_csv('uber_trips_2014.csv', delimiter=',')
#DFuber_trips_2015 = pd.read_csv('uber_trips_2015.csv', delimiter=',')
DFweather = pd.read_csv('weather.csv', delimiter=',')
#DFyellow_trips_new = pd.read_csv('yellow_trips_new.csv', delimiter=',')
#DFzones = pd.read_csv('zones.csv', delimiter=',')

In [36]:
def convertir_geographic_a_lista_NTAs_poligonos():

    for codigo_4_letras in DFgeographic.columns:
        ListaPuntos = []

        Longitudes = np.array(DFgeographic[codigo_4_letras].iloc[0::2]) # Longitudes
        Longitudes = Longitudes[~np.isnan(Longitudes)] # Extraer solamente valores que no sean nan

        Latitudes = np.array(DFgeographic[codigo_4_letras].iloc[1::2]) # Latitudes
        Latitudes = Latitudes[~np.isnan(Latitudes)] # Extraer solamente valores que no sean nan

        # Armar lista de puntos (geometry.Point)
        for i in range(0,len(Longitudes)):
            ListaPuntos.append(geometry.Point(Longitudes[i],Latitudes[i]))    

        poligono = geometry.Polygon([[p.x, p.y] for p in ListaPuntos])

        ListaNTAsPoligonos.append([codigo_4_letras, poligono])

In [43]:
ListaNTAsPoligonos = []
convertir_geographic_a_lista_NTAs_poligonos()

In [39]:
len(ListaNTAsPoligonos)

195

In [6]:
DFgeographic.shape

(9302, 195)

In [73]:
%%time
for index, row in DFuber_trips_2014.head(10000).iterrows():    
    punto = geometry.Point(row['pickup_longitude'],row['pickup_latitude'])
    #print(punto)
    for j in ListaNTAsPoligonos:
        if j[1].contains(punto):
            row['NTA'] = j[0]
            #print('Found!')
            #print(row['NTA'])
            break

Wall time: 37.9 s

In [68]:
 DFuber_trips_2014[]

            pickup_datetime  pickup_latitude  pickup_longitude    base
0               4/1/14 0:11          40.7690          -73.9549  B02512
1               4/1/14 0:17          40.7267          -74.0345  B02512
2               4/1/14 0:21          40.7316          -73.9873  B02512
3               4/1/14 0:28          40.7588          -73.9776  B02512
4               4/1/14 0:33          40.7594          -73.9722  B02512
...                     ...              ...               ...     ...
4534322  9/30/2014 22:57:00          40.7668          -73.9845  B02764
4534323  9/30/2014 22:57:00          40.6911          -74.1773  B02764
4534324  9/30/2014 22:58:00          40.8519          -73.9319  B02764
4534325  9/30/2014 22:58:00          40.7081          -74.0066  B02764
4534326  9/30/2014 22:58:00          40.7140          -73.9496  B02764

[4534327 rows x 4 columns]

In [61]:
#punto = geometry.Point(40.647490,-73.779982)
#punto = geometry.Point(40.776927,-73.873966)
punto = geometry.Point(40.771133,-73.974187)

for i in ListaNTAsPoligonos:
    if i[1].contains(punto):
        print("Bien!")
    
    
#print(ListaNTAsPoligonos[0][1].contains(punto))

#print(geometry.Point(-73.9760507905698,40.6312841471042))
#print(ListaNTAsPoligonos[0][1])

In [54]:
DFweather[['latitude','longitude']].drop_duplicates()

       latitude  longitude
0     40.647490 -73.779982
730   40.776927 -73.873966
1460  40.771133 -73.974187